
<h1>My tasks</h1>


<ul>
  <% @tasks.each do |task| %>
    <li>
    <% if task.completed == true %>
    <i class="far fa-check-square"></i>
    <% else  %>
    <i class="fas fa-times"></i>
    <% end %>
    <%= link_to task.title, task_path(task) %>
    <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure you want to remove this task?' } do %>
    <i class="far fa-trash-alt" ></i>
    <% end %>
    </li>
  <% end %>
</ul>

<div class="add-task-button">
  <p><%= link_to 'Add new task', new_task_path, type: 'button', class: 'btn btn-primary' %></p>
</div>
